#foot{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background: #444444;
    border-top: 3px solid #4065A0;
}


@media only screen and (min-width: 1024px){
    .footIconContain{
        margin-top: 4px;
        width: 264px;
        text-align: center;
        display: flex;
        margin: 5px auto;
    }

    .footIcon{
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0px 12px;
    }

    .footIcon:hover{
        cursor: pointer;
        background: white;
    }

    .gitIcon{
        background: black;
        color: white;
        font-size: 2.2em;
    }

    .gitIcon:hover{
        color: black;
    }

    .twitterIcon{
        background: #1DA1F2;
        color: white;
        height: 36px;
        padding-top: 4px;
        font-size: 1.8em;
    }

    .twitterIcon:hover{
        color: #1DA1F2;
    }

    .facebookIcon{
        background: #4267B2;
        color: white;
        height: 36px;
        padding-top: 4px;
        font-size: 1.8em;
    }

    .facebookIcon:hover{
        color: rgb(94, 124, 184);
    }

    .linkedinIcon{
        background: #0077B5;
        color: white;
        height: 38px;
        padding-top: 2px;
        font-size: 1.8em;
    }

    .linkedinIcon:hover{
        color: #0077B5;
    }

    
    .footLinkContain{
        margin: 8px auto;
        text-align:center;
    }

    .footLinkUl{
        list-style: none;
        display: inline-block;
    }

    .footLinkLi{
        color: rgb(206, 206, 206);
        font-size: 1.7em;
        margin: 0 14px;
        float: left;
        user-select: none;
    }

    .footLinkLi:hover{
        cursor: pointer;
        color: white;
    }

    .footLinkLiCurrent{
        border-bottom: 4px dotted #4065A0;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){



    .footIconContain{
        margin-top: 4px;
        width: 264px;
        text-align: center;
        display: flex;
        margin: 5px auto;
    }

    .footIcon{
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0px 12px;
    }

    .footIcon:hover{
        cursor: pointer;
        background: white;
    }

    .gitIcon{
        background: black;
        color: white;
        font-size: 2.2em;
    }

    .gitIcon:hover{
        color: black;
    }

    .twitterIcon{
        background: #1DA1F2;
        color: white;
        height: 36px;
        padding-top: 4px;
        font-size: 1.8em;
    }

    .twitterIcon:hover{
        color: #1DA1F2;
    }

    .facebookIcon{
        background: #4267B2;
        color: white;
        height: 36px;
        padding-top: 4px;
        font-size: 1.8em;
    }

    .facebookIcon:hover{
        color: #4267B2;
    }

    .linkedinIcon{
        background: #0077B5;
        color: white;
        height: 38px;
        padding-top: 2px;
        font-size: 1.8em;
    }

    .linkedinIcon:hover{
        color: #0077B5;
    }
    
    
    .footLinkContain{
        margin: 8px auto;
        text-align:center;
    }

    .footLinkUl{
        list-style: none;
        display: inline-block;
    }

    .footLinkLi{
        color: rgb(206, 206, 206);
        font-size: 1.7em;
        margin: 0 14px;
        float: left;
    }

    .footLinkLi:hover{
        cursor: pointer;
        color: white;
    }

    .footLinkLiCurrent{
        border-bottom: 4px dotted #4065A0;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){

    


    .footIconContain{
        margin-top: 4px;
        width: 60%;
        text-align: center;
        display: flex;
        margin: 5px auto;
    }

    .footIcon{
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0px auto;
    }

    .footIcon:hover{
        cursor: pointer;
        background: white;
    }

    .gitIcon{
        background: black;
        color: white;
        font-size: 2.2em;
    }

    .gitIcon:hover{
        color: black;
    }

    .twitterIcon{
        background: #1DA1F2;
        color: white;
        height: 36px;
        padding-top: 4px;
        font-size: 1.8em;
    }

    .twitterIcon:hover{
        color: #1DA1F2;
    }

    .facebookIcon{
        background: #4267B2;
        color: white;
        height: 36px;
        padding-top: 4px;
        font-size: 1.8em;
    }

    .facebookIcon:hover{
        color: #4267B2;
    }

    .linkedinIcon{
        background: #0077B5;
        color: white;
        height: 38px;
        padding-top: 2px;
        font-size: 1.8em;
    }

    .linkedinIcon:hover{
        color: #0077B5;
    }
    
    .footLinkContain{
        margin: 8px auto;
        text-align:center;
    }

    .footLinkUl{
        list-style: none;
        display: inline-block;
    }

    .footLinkLi{
        color: rgb(206, 206, 206);
        font-size: 1.5em;
        margin: 0 14px;
        float: left;
    }

    .footLinkLi:hover{
        cursor: pointer;
        color: white;
    }

    .footLinkLiCurrent{
        border-bottom: 4px dotted #4065A0;
    }

}

@media only screen and (max-width: 481px){

    .footIconContain{
        margin-top: 4px;
        width: 60%;
        text-align: center;
        display: flex;
        margin: 5px auto;
    }

    .footIcon{
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0px auto;
    }

    .footIcon:hover{
        cursor: pointer;
        background: white;
    }

    .gitIcon{
        background: black;
        color: white;
        font-size: 2.2em;
    }

    .gitIcon:hover{
        color: black;
    }

    .twitterIcon{
        background: #1DA1F2;
        color: white;
        height: 36px;
        padding-top: 4px;
        font-size: 1.8em;
    }

    .twitterIcon:hover{
        color: #1DA1F2;
    }

    .facebookIcon{
        background: #4267B2;
        color: white;
        height: 36px;
        padding-top: 4px;
        font-size: 1.8em;
    }

    .facebookIcon:hover{
        color: #4267B2;
    }

    .linkedinIcon{
        background: #0077B5;
        color: white;
        height: 38px;
        padding-top: 2px;
        font-size: 1.8em;
    }

    .linkedinIcon:hover{
        color: #0077B5;
    }

    #foot{
        height: 190px;
    }

    .footLinkContain{
        margin: 8px auto;
        text-align:center;
        width: 100%;
    }

    .footLinkUl{
        list-style: none;
        text-align: center;
        display: inline-block;
    }

    .footLinkLi{
        color: rgb(206, 206, 206);
        font-size: 1.55em;
        margin: 2px 0;
    }

    .footLinkLi:hover{
        cursor: pointer;
        color: white;
    }

    .footLinkLiCurrent{
        border-bottom: 4px dotted #4065A0;
    }
}