#site{
    position: relative;
}

.portfolioButton{
    padding: 10px;
}


.pageLinkButton{
    padding: 10px;
}


@media only screen and (min-width: 1024px){

    #main{
        max-width: 1024px;
        padding-bottom: 200px;
    }

    
    .introContain{
        text-align: center;
        font-size: 1.6em;
        width: 96%;
        margin: 30px auto;
        color: rgb(92, 92, 92);
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(211, 211, 211);
    }

    .introMain{
        margin-bottom: 6px;
    }

    .portfolioContain{
        width: 96%;
        margin: 40px auto 40px;
        position: relative;
    }

    .portfolioImg{
        width: 100%;
    }

    .portfolioTxt{
        position: absolute;
        top: 44%;
        left: 5%;
        font-size: 3.2em;
        color: white;
        text-shadow: 2px 2px 2px #111111;
    }

    .portfolioButton{
        position: absolute;
        right: 15%;
        bottom: 20%;
        font-size: 2.2em; 
    }

    .pageLinkContain{
        padding-bottom: 30px;
        width: 96%;
        margin: 0 auto;
        color: white;
    }

    .pageLinkDiv{
        width: 50%;
        display: inline-block;
        padding-bottom: 50px;
        position: relative;
        
    }

    .pageLinkDivAbout{
        background: #91ABD6;
        
    }

    .pageLinkDivContact{
        background: #6082B8;
    }

    .pageLinkIcon{
        margin: 36px auto;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #ececec;
        color: rgb(56, 56, 56);
        text-align: center;
    }

    .pageLinkIconAbout{
        font-size: 4.2em;
    }

    .pageLinkIconContact{
        padding-top: 5px;
        height: 75px;
        font-size: 3.6em;
    }

    .pageLinkText{
        text-align: center;
        font-size: 1.2em;
        padding-bottom: 20px;
        margin: 40px auto;
        width: 60%;
    }

    .pageLinkButton{
        font-size: 1.8em;
        position: absolute;
        bottom: 5%;
        right: 9%;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px){

    .introContain{
        text-align: center;
        font-size: 1.6em;
        width: 96%;
        margin: 0 auto;
        color: rgb(92, 92, 92);
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(211, 211, 211);
    }

    .introMain{
        margin-bottom: 6px;
    }

    .portfolioContain{
        width: 96%;
        margin: 40px auto 40px;
        position: relative;
    }

    .portfolioImg{
        width: 100%;
    }

    .portfolioTxt{
        position: absolute;
        top: 44%;
        left: 5%;
        font-size: 4.5vw;
        color: white;
        text-shadow: 2px 2px 2px #111111;
    }

    .portfolioButton{
        position: absolute;
        right: 15%;
        bottom: 20%;
        font-size: 4vw;
        
    }

    .pageLinkContain{
        padding-bottom: 30px;
        width: 96%;
        display: flex;
        margin: 0 auto;
        color: white;
    }

    .pageLinkDiv{
        width: 50%;
        height: 376px;
        display: inline-block;
        padding-bottom: 50px;
        position: relative;
        
    }

    .pageLinkDivAbout{
        background: #91ABD6;
        
    }

    .pageLinkDivContact{
        background: #6082B8;
    }

    .pageLinkIcon{
        margin: 36px auto;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #ececec;
        color: rgb(56, 56, 56);
        text-align: center;
    }

    .pageLinkIconAbout{
        font-size: 4.2em;
    }

    .pageLinkIconContact{
        padding-top: 5px;
        height: 75px;
        font-size: 3.6em;
    }

    .pageLinkText{
        text-align: center;
        font-size: 1.2em;
        padding-bottom: 20px;
        margin: 40px auto;
        width: 80%;
    }

    .pageLinkButton{
        font-size: 1.8em;
        position: absolute;
        bottom: 5%;
        right: 9%;
    }

    
}

@media only screen and (max-width: 768px){
    .introContain{
        text-align: center;
        font-size: 1.5em;
        width: 96%;
        margin: 0 auto;
        color: rgb(92, 92, 92);
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(211, 211, 211);
    }

    .introMain{
        margin-bottom: 6px;
    }

    .introSecond{
        display: none;
    }

    .portfolioContain{
        width: 96%;
        margin: 40px auto 40px;
        position: relative;
        overflow-x: hidden;
    }

    .portfolioImg{
        height: 380px;
        width: auto;
        
    }

    .portfolioTxt{
        position: absolute;
        top: 34%;
        left: 5%;
        font-size: 4.5vh;
        color: white;
        text-shadow: 2px 2px 2px #111111;
    }

    .portfolioButton{
        position: absolute;
        right: 15%;
        bottom: 18%;
        font-size: 3.6vh;
    }

    .pageLinkContain{
        padding-bottom: 30px;
        width: 96%;
        display: flex;
        margin: 0 auto;
        color: white;
    }

    .pageLinkDiv{
        width: 50%;
        height: 350px;
        display: inline-block;
        padding-bottom: 50px;
        position: relative;
        
    }

    .pageLinkDivAbout{
        background: #91ABD6;
        
    }

    .pageLinkDivContact{
        background: #6082B8;
    }

    .pageLinkIcon{
        margin: 36px auto;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #ececec;
        color: rgb(56, 56, 56);
        text-align: center;
    }

    .pageLinkIconAbout{
        font-size: 4.2em;
    }

    .pageLinkIconContact{
        padding-top: 5px;
        height: 75px;
        font-size: 3.6em;
    }

    .pageLinkText{
        text-align: center;
        font-size: 1.1em;
        padding-bottom: 20px;
        margin: 40px auto;
        width: 80%;
    }

    .pageLinkButton{
        font-size: 1.6em;
        position: absolute;
        bottom: 5%;
        right: 9%;
    }

}

@media only screen and (max-width: 480px){

    .portfolioContain{
        width: 100%;
        margin: 30px auto 4px;
        position: relative;
        overflow-x: hidden;
    }

    .pageLinkContain{
        padding-bottom: 30px;
        width: 100%;
        display: block;
        margin: 0 auto;
        color: white;
    }

    .pageLinkDiv{
        width: 100%;
        height: 220px;
        display: block;
        padding-bottom: 50px;
        position: relative;
        padding-top: 30px;
        
    }

    .pageLinkDivAbout{
        background: #91ABD6;
        
    }

    .pageLinkDivContact{
        background: #6082B8;
    }

    .pageLinkIcon{
        margin: 5px auto;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #ececec;
        color: rgb(56, 56, 56);
        text-align: center;
    }

    .pageLinkIconAbout{
        font-size: 4.2em;
    }

    .pageLinkIconContact{
        padding-top: 5px;
        height: 75px;
        font-size: 3.6em;
    }

    .pageLinkText{
        text-align: center;
        font-size: 1.05em;
        padding-bottom: 20px;
        margin: 30px auto;
        width: 80%;
    }

    .pageLinkButton{
        font-size: 1.4em;
        position: absolute;
        bottom: 5%;
        right: 9%;
    }
}