*{
    margin: 0;
    padding: 0;
}

#head{
    background: #4065a0;
    width: 100%;
    height: 110px;
    position: relative;
}

.headContainer{
    height: 110px;
}

.headTitle{
    color: white;
    font-size: 52px;
    border: 2px solid white;
    padding: 9px 5px;
    display: inline-block;
}

.headTitle:hover{
    cursor: pointer;
    text-shadow: 0 0 2px white;
    box-shadow: 0 0 4px white;
}

.headLinkUl{
    list-style: none;
}

.headLinkLi{
    cursor: pointer;
}



@media only screen and (min-width: 1024px){
    .headContainer{
        width: 1024px;
        margin: 0 auto;
        background: green;
        position: relative;
    }

    .headTitle{
        font-size: 52px;
        border: 2px solid white;
        padding: 9px 5px;
        display: inline-block;
        margin-top: 12px;
        margin-left: 6px;
    }

    .headLinkUl{
        display: inline-table;
        position: absolute;
        right: 0;
        bottom: 16px;
        margin-right: 10px;
    }

    .headLinkLi{
        display: inline-table;
        font-size: 30px;
        margin-right: 14px;
        color: white;
    }

    .headLinkLiCurrent{
        border-bottom: 2px solid white;
    }

    .headNavButton{
        display: none
    }

 }

 @media only screen and (max-width: 768px){
     .headNavButton{
         font-size: 3.5em;
         position: absolute;
         right: 14px;
         color: white;
         top: 14px;
         user-select: none;
     }

     .headNavButton{
         cursor: pointer;
     }

     .headLinkLi{
         display: none;
     }

     .headTitle{
         margin-top: 12px;
         margin-left: 6px;
     }
 }