html, body{
  background-color: #f7f7f7;
  font-family: arial, sans-serif;
}

#foot{
  position: relative;
}

#app{
  margin: 20px auto;
  width: 640px;
  height: 640px;
  border: 5px solid #67759B;
}

.allTile{
  width: 80px;
  height: 80px;
  float: left;
}

.portProjectApp{
  padding-bottom: 20px;
}

.darkTile{
  background-color: #A67D5D;
}

.lightTile{
  background-color: #E8D0AA;
}

.allPiece{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: 11px auto;
  color: white;
  font-size: 2.5em;
  text-align: center;
  cursor: pointer;
}

.darkPiece{
  background-color: #512D28;
}

.lightPiece{
  background-color: #F4C242;
}

#textArea{
  width: 400px;
  height: 80px;
  background-color: #67759B;
  margin: 14px auto;
  border-radius: 12px;
}

#textMove{
  padding-top: 8px;
  text-align: center;
  margin-bottom: 0;
}

#textMand{
  margin: 0;
  text-align: center;
  border-top: 1px solid #8c6343;
}

@media only screen and (min-width: 660px) and (max-width: 1024px){
  
  #main{
    width: 98%;
    min-width: 655px;
}

.portProjectContain{
    background: #ebebeb;
}

.portProjectTitle{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgb(78, 126, 153);
    color: white;
    font-size: 2.8em;
    text-align: center;
}

.portProjectDesc{
    font-size: 1.1em;
    width: 90%;
    margin: 30px auto 0 auto;
    text-align: center;
    color: rgb(53, 53, 53);
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(212, 212, 212);
}
}

@media only screen and (max-width: 660px){

  body{
    overflow-x: scroll;
  }

  #foot{
    width: 660px;
  }

  #head{
    width: 660px;
  }

  #main{
    width: 98%;
    min-width: 655px;
}

.portProjectContain{
    background: #ebebeb;
}

.portProjectTitle{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgb(78, 126, 153);
    color: white;
    font-size: 2.8em;
    text-align: center;
}

.portProjectDesc{
    font-size: 1.1em;
    width: 90%;
    margin: 30px auto 0 auto;
    text-align: center;
    color: rgb(53, 53, 53);
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(212, 212, 212);
}
}