html,body {
    position: relative;
  
    overflow-x: hidden; 
}

#main{
    width: 100%;
    margin-bottom: 400px;
}

.abtOpenContain{
    vertical-align: top;
    margin-top: 40px;
    height: auto;
}

.abtMePic{
    border-radius:10px;
    height: 280px;
    display: inline-block;
    margin-left: 5%;
}

.abtOpenText{
    display: inline-block;
    height: inherit;
    margin-left: 5%;
}

@media only screen and (min-width: 1024px){ 
    
    
    #main{
        margin: 0 auto;
        margin-bottom: 80px;
        width: 1024px;
    }
}