

 .iconContain{
     width: 166px;
     height: 40px;
     margin: 12px auto;
 }

 .footIcon{
     width: 38px;
     height: 38px;
     border-radius: 50%;
     display: inline-block;
     margin-right: 26px;
     float: left;
 }

 .gitIcon{
    font-size: 2.4em;
    text-align: center;
    padding: 0;
    background: rgb(46, 46, 46);
    color: #ececec;
    
    
 }

 .gitIcon:hover{
    background: #ececec;
    color: rgb(46, 46, 46);
     cursor: pointer;
 }

 .twitterIcon{
    font-size: 1.6em;
    text-align: center;
    padding: 0;
    background: #1DA1F2;
    height: 33px;
    color: rgb(240, 240, 240);
    padding-top: 5px;
    
 }

 .twitterIcon:hover{
    color: #1DA1F2;
    background: rgb(240, 240, 240);
     cursor: pointer;
 }

 .facebookIcon{
    font-size: 1.6em;
    text-align: center;
    padding: 0;
    background: #4267B2;
    height: 33px;
    color: rgb(240, 240, 240);
    padding-top: 5px;
    margin-right: 0;
 }

 .facebookIcon:hover{
    color: #4267B2;
    background: rgb(240, 240, 240);
     cursor: pointer;
 }

 .linkContain{
     margin: 0 auto;
     display: table;
 }

 .footLink{
     display: inline-block;
     margin: 0;
     margin-right: 15px;
     margin-left: 15px;
     font-size: 1.3em;
     color: #e2e2e2;
 }

 .footLink:hover{
     color: white;
     cursor: pointer;
 }

 .footLinkActive{
     border-bottom: 2px dashed #5378b2;
 }

 @media only screen and (max-width: 400px){
     .footLink{
         font-size: 1em;
         margin-right: 10px;
     }
  }

  @media only screen and (max-width: 350px){

    #foot{
        height:200px; 
    }

     .footContain{
        text-align: center;
     }

    .footLink{
        text-align: center;
          font-size: 1.2em;
          margin-bottom: 8px;
          display: block;
          margin-right: 0;
      }
  }

  #foot{
    position: absolute;
    left: 0;
    overflow:hidden;
    bottom:0;
    background:#444444;
    width:100%;
    height:120px;   
    border-top: 3px solid #4065A0;
 }