body{
    margin: 0;
}

#head{
    width: 100%;
    height: 105px;
    background: #4065a0;
}

#siteHeadLogo{
    color: white;
    font-size: 3.1em;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid white;
    display: inline-block;
    padding: 9px 5px;
    margin: 12px 8px;
}

#siteHeadLogo:hover{
    cursor: pointer;
    text-shadow: 0 0 2px white;
    box-shadow: 0 0 4px white;
}



#siteHeadNav{
    display: none;
}




@media only screen and (min-width: 150px) and (max-width: 768px){ 
    

    #siteHeadNav{
        font-size: 3.2em;
        border-radius: 2px;
        display: inline-block;
        float: right;
        color: white;
        padding: 2px 17px;
        margin-top: 12px;
        user-select: none;
    }
    
    #siteHeadNav:hover{
        color: #1e2a3d;
        cursor: pointer;
    }

    .siteHeadNavOn{
        text-shadow: 1px 2px 2px rgb(36, 36, 36);
    }

    .link-open{
        display: block;
        list-style: none;
        font-size: 1.4em;
        padding-left: 0;
        text-align: center;
        margin: 0;
    }

    .link-closed{
        display: none;
    }
    .siteHeadLinksOther{
        padding: 6px 0px;
        background: black;
        color: #bababa;
        border-bottom: 1px solid #4f4f4f;
    }

    .siteHeadLinksOther:hover{
        cursor: pointer;
        color: white;
    }

    .siteHeadLinksCurrent{
        padding: 6px 0px;
        background: rgb(136, 136, 136);
        color: #0a0a0a;
        border-bottom: 1px solid #4f4f4f;
    }

    .siteHeadLinksCurrent:hover{
        cursor: pointer;
        color: white;
    }
 }

@media only screen and (min-width: 770px) and (max-width: 1035px) {
    #siteHeadLogo{
        margin-left: 20px;
    }
 }

@media only screen and (min-width: 768px) {



    #siteHeadLinks{
        
        list-style: none;
        text-align: right;
        display: inline-block;
        float: right;
        margin: 54px 12px 20px 12px;
        padding-left: 0;
    }

    #siteHeadLinks > li{
        display: inline-block;
        font-size: 1.7em;
        margin-right: 18px;
        text-align: center;
        color: #e0eafc;
    }
    
    #siteHeadLinks > li:hover{
        cursor: pointer;
        color: white;
    }
    
    .siteHeadLinksCurrent{
        border-bottom: 2px solid white;
    }
 }

 @media only screen and (max-width: 200px){
    #siteHeadNav{
        font-size: 3em;
        position: absolute;
    }
  }

@media only screen and (min-width: 1024px){ 


    #siteHead{
        margin: 0 auto;
        width: 1024px;
        height: 105px;
    }


 }