body{
    margin: 0;
}

#head{
    width: 100%;
    height: 105px;
    background: #4065a0;
}

#siteHeadLogo{
    color: white;
    font-size: 3.1em;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid white;
    display: inline-block;
    padding: 8px 4px;
    margin: 12px 4px;
}

#siteHeadLogo:hover{
    cursor: pointer;
    text-shadow: 0 0 2px white;
    box-shadow: 0 0 4px white;
}

#siteHeadLinks{
    
    list-style: none;
    text-align: right;
    display: inline-block;
    float: right;
    margin: 54px 12px;;
}

#siteHeadLinks > li{
    display: inline-block;
    font-size: 1.7em;
    margin-right: 18px;
    text-align: center;
    color: #e0eafc;
}

#siteHeadLinks > li:hover{
    cursor: pointer;
    color: white;
}

.siteHeadLinksCurrent{
    border-bottom: 2px solid white;
}

@media only screen and (min-width: 320px) and (max-width: 479px){ ... }

@media only screen and (min-width: 480px) and (max-width: 767px){ ... }

@media only screen and (min-width: 768px) and (max-width: 991px){ ... }

@media only screen and (min-width: 1024px){ 
    #siteHead{
        margin: 0 auto;
        width: 1024px;
        height: 105px;
    }
 }