html,body {
    position: relative;
    min-height: 100%;
    overflow-x: hidden; 
}

.bioDiv{
    text-align: center;
    position: relative;
    font-size: 1.6em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 18px;
    width: 85%;
    color: #5a5959;
}

#main{
    height: auto;
    position: relative;
    width: 100%;
}

.homeMainImgContain{
    display: block;
    height: auto;
    overflow-x: hidden;
}

.homeMainImg{
    width: auto;
    height: 450px;
}

.homeMainImgTxt{
    color: #f7f7f7;
    text-shadow: 1px 1px 3px #5a5959;
    font-size: 2.4em;
    position: absolute;
    top: 160px;
    left: 50px;
}

.homeContain{
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}

.homeMainImgButton{
    position: absolute;
    font-size: 2.1em;
    border-radius: 6px;
    padding: 4px 10px;
    top: 280px;
    left: 60%;
    background: #ffa332;
    border: 1px solid rgb(204, 204, 204);
    text-shadow: 1px 1px 2px #5a5959;
    color:white;
}

button:focus{
    outline: none;
}

.homeMainImgButton:hover{
    cursor: pointer;
    text-shadow: 1px 1px 3px black;
    background: #ff9814;
}

.homeButtonContain{
    width: 95%;
    margin: 40px auto;
    text-align: center;
}

.homeAbtContain{
    display: inline-block;
    width: 350px;
    height: 320px;
    border: 1px solid #4065A0;
    padding: 30px 0;
    border-radius: 10px;
    vertical-align: top;
    margin-left: 5%;
    margin-right: 5%;

}

.homeAbtIcon{
    background: #8f8f8f;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 12px;
    font-size: 2em;
    color: white;
    margin: 0 auto;
}

.homeAbtTitle{
    color: #4065A0;
    text-align: center;
}

.homeAbtText{
    display: block;
    width: 80%;
    text-align: center;
    font-size: 1.2em;
    margin: 15px auto;
}

.homeAbtButton{
    
    font-size: 1.9em;
    border-radius: 6px;
    padding: 4px 10px;
    background: #ffa332;
    text-shadow: 1px 1px 2px #5a5959;
    color:white;
    position: absolute;
    right: 6%;
    bottom: 5%;
}

.homeAbtButton:hover{
    cursor: pointer;
    text-shadow: 1px 1px 3px black;
    background: #ff9814;
}









 @media only screen and (max-width: 950px){
    .homeAbtContain{
        width: 280px;
        padding: 20px 0;
        margin-left: 4%;
        margin-right: 4%;
    }

    .homeAbtButton{
        font-size: 1.5em;
    }
 } 

 @media only screen and (max-width: 750px){
    
        .homeMainImg{
            width: auto;
            height: 320px;
        }
    
        .homeMainImgTxt{
            font-size: 1.8em;
            position: absolute;
            top: 100px;
        }
    
        .homeMainImgButton{
            font-size: 1.8em;
            left: 50%;
            top: 200px;
            padding: 4px 10px;
        }
    
        .homeAbtContain{
            width: 240px;
            padding: 20px 0;
            margin-left: 3%;
            margin-right: 3%;
        }

        .homeAbtButton{
            bottom: 3%;
        }
     }

@media only screen and (max-width: 600px){

    .bioDiv{
        font-size: 1.4em;
    }

    .homeButtonContain{
        margin: 5px auto 30px auto;
        width: 95%;
    }

    .homeAbtContain{
        width: 100%;
        height: 210px;
        padding: 20px 0;
        margin: 10px auto;
    }
    
    .homeAbtText{
        font-size: 1.3em;
    }

    .homeAbtTitle{
        display: inline-block;
        
    }

    .homeAbtIcon{
        display: inline-block;
        margin-right: 3%;
    }
}

@media only screen and (max-width: 555px){
    .homeMainImg{
        width: auto;
        height: 320px;
        
    }

    .homeMainImgTxt{
        font-size: 1.8em;
        position: absolute;
        left: 20px;
        top: 80px;
    }
    .homeMainImgButton{
        left: 35%;
        top: 180px;
        padding: 3px 8px;
    }

    .homeAbtText{
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 420px){
    .homeMainImgButton{
        left: 25%;
        top: 215px;
        padding: 3px 8px;
        font-size: 1.5em;
    }

    .homeAbtContain{
        height: 195px;
        overflow: hidden;
    }

    .homeAbtText{
        font-size: 1em;
    }

    .homeAbtButton{
        font-size: 1.2em;
    }
}



@media only screen and (max-width: 250px){

    .homeMainImgTxt{
        font-size: 1.4em;
        position: absolute;
        left: 20px;
        top: 50px;
    }
    .homeMainImgButton{
        font-size: 1.4em;
        left: 25%;
        top: 215px;
        padding: 3px 8px;
    }

    .homeAbtText{
        font-size: 0.8em;
        
    }
    }



@media only screen and (min-width: 1024px){ 
    
    
        #main{
            margin: 0 auto;
            margin-bottom: 80px;
            width: 1024px;
        }

        .homeMainImgTxt{
            font-size: 2.8em;
        }
    
    
     }