html {
    position: relative;
    min-height: 100%;
}

.bioDiv{
    text-align: center;
    position: relative;
    font-size: 1.6em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 18px;
    width: 85%;
    color: #5a5959;
}

#main{
    height: auto;
    position: relative;
    margin: 0 0 80px 0;
}

.homeMainImgContain{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 95%;
    height: auto;
    overflow-x: hidden;
}

.homeMainImg{
    width: auto;
    height: 450px;
}

.homeMainImgTxt{
    color: #f7f7f7;
    text-shadow: 1px 1px 2px #5a5959;
    font-size: 2.4em;
    position: absolute;
    top: 250px;
    left: 50px;
}


@media only screen and (min-width: 1024px){ 
    
    
        #main{
            margin: 0 auto;
            margin-bottom: 80px;
            width: 1024px;
        }
    
    
     }